.team-list-container {
    background-color: #616A6B;
    width: 300px;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* Adding initial scale for pop-up effect */
    transform: scale(1);
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration:  none;
  }
  
  .team-list-container:hover {
    transform: scale(1.1); /* Scales up the card */
    box-shadow: 0 4px 8px #ddd(0, 0, 0, 0.2); /* Adds a shadow */
  }
  
  .team-logo {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
  }
  
  .team-name {
    font-size: 16px;
    color: #ddd;
    transition: color 0.3s ease-in-out;
    margin-left: 5px;
  }
  
  @media screen and (max-width : 830px) {
    .team-list-container {
      width: 270px;
      padding: 20px;
    } 
  }
  