*{
  box-sizing: content-box;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Media query for small screens */
@media screen and (max-width: 550px) {
  body {
    margin: 0;
  }
}

/* Ensure no unintended margins or paddings on all elements */